<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home - Andy Bowling</title>
	<link rel="shortcut icon" href="/static/bootstrap/images/favicon.ico"/>

    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/bootstrap/css/custom-style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "home" %}" id="top-link">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="navbar-links">
					<li>
                        <a href="https://www.linkedin.com/in/andrewbowling" id="top-link">LinkedIn</a>
                    </li>
					<li>
                        <a href="{% url "project" %}" id="top-link">Case Study</a>
                    </li>
					<li>
                        <a href="https://github.com/andy--b/" id="top-link">GitHub</a>
                    </li>
                    <li>
                        <a href="DATAResume.pdf" id="top-link">Resume</a>
                    </li>
                    <li>
                        <a href="mailto:andrew.r.bowling@gmail.com" id="top-link">Contact</a>
                    </li>
                </ul>
            </div>
			</span>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
					<large>ANDY BOWLING</large>
                    <a  href="mailto:andrew.r.bowling@gmail.com"> 
						<small>andrew.r.bowling@gmail.com</small>
					</a>
                </h1>
            </div>
        </div>
        <!-- /.row -->

		<div class="jumbotron">
        <div class="row">
            <div margin-left = "300px" class="col-md-7">
                <h2>Welcome!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            </div>
            <div class="col-md-5">
                <a href="#">
                    <img class="img-responsive" src="/static/bootstrap/images/hasslehoff burger2.png" alt="">
                </a>
            </div>
        </div>
		</div>
        <!-- /.row -->

        <hr>
		<!-- Past Work -->
        <div class="row">
            <div class="col-md-7">
				<div class="row">
				<div class="col-md-12">
                <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
					<iframe allowfullscreen="" src="http://player.vimeo.com/video/108246479" frameborder="0" width="100%" height = "370"></iframe>
				</div> 
				</div>
				<div class="col-md-12">
				<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
					<iframe allowfullscreen="" src="http://player.vimeo.com/video/114359273" frameborder="0" width="100%" height="370"></iframe>
				</div> 
				</div>
				</div>
            </div>
            <div class="col-md-5">
                <h3>Past Work</h3>
                <p>From Python and AWS to Unit Testing and Project Management, I have a diverse professional background. Click here to learn about a recent project where I build a database infrastructure for a manufacturing client.</p>
				<p>I have also produced and managed award-winning experiential advertising campaigns for Fortune 500 corporations.</p>
				<a class="btn btn-primary" href="{% url "project" %}" id="proj-button">Click Here to Learn More<span class="glyphicon glyphicon-chevron-right"></span></a>
				<h4>Case Study: Texas Tourism</h4>		
			</div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Code Samples -->
        <div class="row">
			<div class="col-md-7">
				<h2></h2>
                <a href="https://www.codeeval.com/profile/andy--b/" >
                    <img class="img-responsive center-block logo" src="/static/bootstrap/images/codeeval.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Portfolio</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Get in touch -->
        <div class="row">
			<div class="col-md-7">
				<div class="row">
					<div class="col-xs-4">
						<a href="mailto:andrew.r.bowling@gmail.com">
							<img class="img-responsive logo" src="/static/bootstrap/images/email_icon.png" alt="">
						</a>
					</div>
					<div class="col-xs-4">
						<a href="https://www.linkedin.com/in/andrewbowling">
							<img class="img-responsive logo" src="/static/bootstrap/images/linkedin.png" alt="">
						</a>
					</div>
					<div class="col-xs-4">
						<a href="https://github.com/andy--b/">
							<img class="img-responsive logo" src="/static/bootstrap/images/github-rounded.png" alt="">
						</a>
					</div>
				</div>
			</div>
            <div class="col-md-5">
                <h3>Contact</h3>
                <p>Interested in learning more? Let's get in touch!</p>
                <a class="btn btn-primary" href="https://www.linkedin.com/in/andrewbowling">Get in touch via LinkedIn<span class="glyphicon glyphicon-chevron-right"></span></a>
				<a class="btn btn-primary" href="mailto:andrew.r.bowling@gmail.com">Get in touch via Email<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
				<a href = "#">
                    <h4>Back to top</h4>
				</a>
				<p><br>Built with Bootstrap, powered by Django 1.8</p>
				</div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/bootstrap/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
